/*Main parts*/

* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

body{
		display: table;
		background-color:black;
		width: 100%;
		margin: auto;
		background-image: url("../img/page-background.png");
	    background-repeat: repeat-y repeat-x;
}

.maincontent{ /*Check the specific resolution media queries to see additional rules for this element*/
		padding: 2%;	
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 5px; 
		float: left;
		min-height: 1080px;
		background-image: url("../img/article-background.png");
		background-repeat: repeat-x repeat-y;
}

.articleheader{
	height: 70px;
	/*border: 3px solid #ff8900;*/
	border-radius: 3px;
	padding: 15px	
}

body > div > section > section > div > header > a{
	font-weight: 500;
}

.article-header-single-page{
	height: 100px;
	/*border: 3px solid #ff8900;
	border-radius: 3px;*/
	padding: 15px;	
}

.categoryimg{
	display: inline-block;	
	float: left;
	margin-right: 15px;
	width: 100px;
	height: 100px;
}

.categoryimg img{	
	width: 100px;
	height: 100px;
}

.article-excerpt{
	/*border-left: 8px solid rgba(0,0,0,0); */
	width: 44%;
	float: left;
	overflow: hidden;
	padding: 22.5px;
	margin: 5px;
	border-radius: 5px;
	max-height: 349px;
	-webkit-transition: border-radius 0.5s, border-color 0.5s;
    -moz-transition: border-radius 0.5s, border-color 0.5s;
    -o-transition: border-radius 0.5s, border-color 0.5s;
    transition: border-radius 0.5s, border-color 0.5s;   	
}

.article-excerpt-web{
	background: rgba(255,137,0,0.75) url('../img/web-category.png');
	background-size: 100%;
	background-repeat: no-repeat;
   	background-position: center;
   	-webkit-transition: background-size 0.5s;
    -moz-transition: background-size 0.5s;
    -o-transition: background-size 0.5s;
    transition: background-size 0.5s;   	
}

.article-excerpt-web:hover{
	background-size: 120%;
}

.article-excerpt-android{
	background: rgba(255,137,0,0.75) url('../img/android-category.png');
	background-size: 80%;
	background-repeat: no-repeat;
   	background-position: center;
   	-webkit-transition: background-size 0.5s;
    -moz-transition: background-size 0.5s;
    -o-transition: background-size 0.5s;
    transition: background-size 0.5s;   	
}

.article-excerpt-android:hover{
	background-size: 100%;
}

.article-excerpt-gamedev{
	background: rgba(255,137,0,0.75) url('../img/gamedev-category.png');
	background-size: 110%;
	background-repeat: no-repeat;
   	background-position: center;
   	-webkit-transition: background-size 0.5s;
    -moz-transition: background-size 0.5s;
    -o-transition: background-size 0.5s;
    transition: background-size 0.5s;   	
}

.article-excerpt-gamedev:hover{
	background-size: 130%;
}

.article-excerpt-misc{
	background: rgba(255,137,0,0.75) url('../img/misc-category.png');
	background-size: 80%;
	background-repeat: no-repeat;
   	background-position: center;
   	-webkit-transition: background-size 0.5s;
    -moz-transition: background-size 0.5s;
    -o-transition: background-size 0.5s;
    transition: background-size 0.5s;   	
}

.article-excerpt-misc:hover{
	background-size: 100%;
}

.articletitle{
	font-size: 30px;
	text-decoration: none;
}

.articlemetadata{
	color: white;
}

.article-metadata-single-page{	
	color: white;
}

.articletitle:visited {
    color: white;
}

.articletitle:link {
	color: white;
}

.articlecontent{
	color: white;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	height: 100%;
	width: 100%;
}	

.articlecontent pre{
	font-size: 12px;	
}	

.articlesummary{
	/*color: white;*/
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	height: 150px;
	width: 100%;
}

div.articlecontent ol {
    display: block;
	list-style-type: disc;
	margin-before: 1em;
	margin-after: 1em;
	margin-start: 0;
	margin-end: 0;
	padding-start: 40px;
}

  /*Create a horizontal list with spacing*/
div.articlecontent ol li {
    display:block; /* This, and float:left to show the menu horizontally */
    float: left;
    position: relative;
}

/* SINGLE PAGE COMMENTS STYLING */

input[type=text] {
    padding: 5px;
    height: 30px;
    width: 50%;
    display: block;
    margin: auto;
    outline: none;
    border: 2px solid #ff8900;
    border-radius: 4px;
    background-color: black;
    font-size: 16px;
    color: white;
}

input[type=submit] {
    height: 40px;
    width: 40%;
    display: block;
    margin: auto;
    outline: none;
    border: 2px solid #ff8900;
    border-radius: 4px;
    background-color: #ff8900;
    font-size: 16px;
    color: black;
}

textarea{
    padding: 5px;
    display: block;
    height: 200px;
    width: 50%;
    margin: auto;
    outline: none;
    border: 2px solid #ff8900;
    border-radius: 4px;
    background-color: black;
    font-size: 16px;
    color: white;
}

.comment-author-textbox{

}

.comment-content-textarea{
	margin-top: 15px;
}

.single-page-comment-recaptcha{
	display: table;
	margin: auto;	
}

.comment-metadata{
	color: white;	
}

.comment-content{
	color: white;
	border: 2px solid #ff8900;
    border-radius: 4px;
    padding: 10px;	
}

/* **************************** */

.comment-count{
	color: #ff8900;
}

.approvecommentcheckbox{
	display: inline;
}

.article-readmore{
	position: relative;
	display: block;
	float: right;
}

.g-recaptcha{
	height: 50px;
}

.article-title a:link{
	color: white;
}

.article-title a:visited{
	color: white;
}

body > footer > div.bottom-footer-side > p > a,
body > footer > div.left-footer-side > ul > li > a,
body > div > section > section > div > a{
	color: black;
}

/*.article-excerpt div .article-readmore{
}

.article-excerpt div .article-readmore{
	color: black;
}*/

.comments-number{
	color: black;
	margin: auto;
	padding: 10px;
}

.next-page{
	color: #ff8900;
	width: 100%;
	padding: 10px;
	float: left;
	text-align: center;
}

.pages-number{
	color: #ff8900;
	margin: auto;
	display: table;
	padding: 10px 0;
	width: 100%;
	float: left;
	text-align: center;
}

.comments-number-container{
	display: table;
	width: 100%;
}

/* FOOTER */

.left-footer-side{
	margin-top: 10px;
	float: left;
}

.right-footer-side{
	margin-top: 30px;
	margin-right: 30px;
	float: right;
}

.bottom-footer-side{
	position: relative;
	top: 35px;
	float: left;
	width: 100%;	
}

.bottom-footer-side p{
	font-weight: 300;
}

.footer-list{
	list-style: none;
}

/* ****** */

@media only screen and (min-width : 1000px), only screen and (min-device-width : 1000px)){

	.parentcontainer{
		display: table;
		width: 980px;
		margin: auto;
	}

	.maincontent{
		width: 940px;
	}	

	.single-page-article-content{
		margin: auto 12%;
	}

	.article-metadata-single-page{
		position: relative;
		top: 40px;
	}

	.sidebar{
		width: 30%;
		margin-top: 20px;
		height: 100%;
		float: right;
	}

	#hellousertext{
		color: white;
		position: absolute;
		top: 0;
		left: 100px;
	}

	#signoutlink{
		position: absolute;
		top: 0;
		left: 0;
	}

	.mainheader{
		background-image: url("../img/header-desktop.png");
		height: 180px;
		width: 940px;
		margin: auto;
	}

	.mainfooter{
		height: 200px;
		width: 940px;
		padding: 20px;
		margin: auto;
		background:rgba(255,137,0,0.75);
		border-radius: 5px;
	}	

	.twitterfooter img:hover{
    	opacity: 0;
	}

	.twitterfooter{
		background-image: url('../img/twitterFooterInv.png');
	    background-repeat: no-repeat;
	    opacity: 1;
	    height: 64px;
	    width: 64px;
	    display: block;
	}

	.linkedinfooter img:hover{
    	opacity: 0;
	}

	.linkedinfooter{
		background-image: url('../img/linkedinFooterInv.png');
	    background-repeat: no-repeat;
	    opacity: 1;
	    height: 64px;
	    width: 64px;
	    display: block;
	}

	.githubfooter img:hover{
    	opacity: 0;
	}

	.githubfooter{
		background-image: url('../img/githubFooterInv.png');
	    background-repeat: no-repeat;
	    opacity: 1;
	    height: 64px;
	    width: 64px;
	    display: block;
	}

	/*Articles*/

	.articleheader{
		color: white;
	}

	.excerpt{
		width: 100%;
		display: table;
		float: none;
	}	
	
}

@media only screen and (max-width : 999px), only screen and (max-device-width : 999px)){

	.mainheader{
			background-image: url("../img/header-desktop.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 90%;
			height: 180px;
			width: 100%;
			margin: auto;
	}

	.articlecontent{
		font-size: 12px;
	}

	.categoryimg{
		display: none;
	}

	.parentcontainer{
		display: table;
		width: 100%;
	}

	.sidebar{
		display: none;
	}

	.articleheader{
		height: 55px;
		border-radius: 3px;
		padding: 15px;		
	}

	.single-page-article-content{
		margin: auto 5%;
	}

	.article-excerpt{
		width: 90%;
		float: none;
		overflow: hidden;
		padding: 5%;
		margin: 5px auto;
		border-radius: 5px;
		max-height: 349px;
		-webkit-transition: border-radius 0.5s, border-color 0.5s;
	    -moz-transition: border-radius 0.5s, border-color 0.5s;
	    -o-transition: border-radius 0.5s, border-color 0.5s;
	    transition: border-radius 0.5s, border-color 0.5s;   	
	}

	.maincontent{ /*Check the specific resolution media queries to see additional rules for this element*/
		padding: 0%;	
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 5px; 
		float: left;
		min-height: 1080px;
		width: 100%;
		background-image: url("../img/article-background.png");
		background-repeat: repeat-x repeat-y;
	}

	.mainfooter{
		height: 240px;
		width: 95%;
		padding: 2.5%;
		margin: auto;
		background:rgba(255,137,0,0.75);
		border-radius: 5px;
	}	

	.mainfooter ul a{
		font-size: 16px;
	}

	.mainfooter p{
		font-size: 12px;
	}	

	input[type=submit],
	input[type=text] {
		width: 90%;
	}

	textarea{
		width: 90%;
	}

	.article-excerpt-web{
		background: rgba(255,137,0,0.75) url('../img/web-category.png');
		background-size: 80%;
		background-repeat: no-repeat;
	   	background-position: center;
	   	-webkit-transition: background-size 0.5s;
	    -moz-transition: background-size 0.5s;
	    -o-transition: background-size 0.5s;
	    transition: background-size 0.5s;   	
	}

	.article-excerpt-web:hover{
		background-size: 80%;
	}

	.article-excerpt-android{
		background: rgba(255,137,0,0.75) url('../img/android-category.png');
		background-size: 70%;
		background-repeat: no-repeat;
	   	background-position: center;
	   	-webkit-transition: background-size 0.5s;
	    -moz-transition: background-size 0.5s;
	    -o-transition: background-size 0.5s;
	    transition: background-size 0.5s;   	
	}

	.article-excerpt-android:hover{
		background-size: 70%;
	}

	.article-excerpt-gamedev{
		background: rgba(255,137,0,0.75) url('../img/gamedev-category.png');
		background-size: 90%;
		background-repeat: no-repeat;
	   	background-position: center;
	   	-webkit-transition: background-size 0.5s;
	    -moz-transition: background-size 0.5s;
	    -o-transition: background-size 0.5s;
	    transition: background-size 0.5s;   	
	}

	.article-excerpt-gamedev:hover{
		background-size: 90%;
	}

	.article-excerpt-misc{
		background: rgba(255,137,0,0.75) url('../img/misc-category.png');
		background-size: 70%;
		background-repeat: no-repeat;
	   	background-position: center;
	   	-webkit-transition: background-size 0.5s;
	    -moz-transition: background-size 0.5s;
	    -o-transition: background-size 0.5s;
	    transition: background-size 0.5s;   	
	}

	.article-excerpt-misc:hover{
		background-size: 70%;
	}
}

@media only screen and (max-width : 760px), only screen and (max-device-width : 760px)){
	.mainheader{
		background-image: url("../img/header-mobile.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
		height: 180px;
		width: 100%;
		margin: auto;
	}

	.articleheader{
		height: 55px;
		border-radius: 3px;
		padding: 15px;		
	}

	.article-excerpt{
		width: 90%;
		float: none;
		overflow: hidden;
		padding: 5%;
		margin: 5px auto;
		border-radius: 5px;
		max-height: 349px;
		-webkit-transition: border-radius 0.5s, border-color 0.5s;
	    -moz-transition: border-radius 0.5s, border-color 0.5s;
	    -o-transition: border-radius 0.5s, border-color 0.5s;
	    transition: border-radius 0.5s, border-color 0.5s;   	
	}

	.maincontent{ /*Check the specific resolution media queries to see additional rules for this element*/
		padding: 0%;	
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 5px; 
		float: left;
		min-height: 1080px;
		background-image: url("../img/article-background.png");
		background-repeat: repeat-x repeat-y;
	}

	.mainfooter{
		height: 240px;
		width: 95%;
		padding: 2.5%;
		margin: auto;
		background:rgba(255,137,0,0.75);
		border-radius: 5px;
	}	

	.mainfooter ul a{
		font-size: 16px;
	}

	.mainfooter p{
		font-size: 12px;
	}	
}

