/* main orange color: ff8900 */

.mainnav{
    display: block;
    float: left;
    height: 50px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feccb1+0,ff8900+50,ed7e00+51,fb955e+100 */
    background: #feccb1; /* Old browsers */
    background: -moz-linear-gradient(top,  #feccb1 0%, #ff8900 50%, #ed7e00 51%, #fb955e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#ff8900), color-stop(51%,#ed7e00), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feccb1 0%,#ff8900 50%,#ed7e00 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feccb1 0%,#ff8900 50%,#ed7e00 51%,#fb955e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feccb1 0%,#ff8900 50%,#ed7e00 51%,#fb955e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feccb1 0%,#ff8900 50%,#ed7e00 51%,#fb955e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */  
 }

@media only screen and (min-width : 761px), only screen and (min-device-width : 761px)){ 

  #menu{
    /*display: block;*/
    width: 759px;
    height: 50px;
    margin: auto;
  }

  .firstrootmenuelement{
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
  }

  .rootmenuelement{
    border-right-style: solid;
    border-width: 1px;
  }

  .submenu{
    position: absolute;
    z-index: 1;
    width: 250px;
  }

  /*Strip the ul of padding and list styling*/
  nav.mainnav ul {
    list-style-type:none; /*Tho hide list points*/
    margin:0;
    padding:0;
  }

  /*Create a horizontal list with spacing*/
  nav.mainnav li {
    display:inline; /* This, and float:left to show the menu horizontally */
    float: left;
    position: relative;
  }
  nav.mainnav ul ul li{
      position: relative;
  }

  /*Style for menu links*/
  nav.mainnav li a {
    display:block;
    min-width:188px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
    /*Animation properties for every browser*/
    -webkit-transition: background 0.3s, color 0.25s;
    -moz-transition: background 0.3s, color 0.25s;
    -o-transition: background 0.3s, color 0.25s;
    transition: background 0.3s, color 0.25s;
    transition-timing-function: ease-out;

    background: #feccb1; /* Old browsers */
    background: -moz-linear-gradient(top,  #feccb1 0%, #ff8900 50%, #ed7e00 51%, #fb955e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#ff8900), color-stop(51%,#ed7e00), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feccb1 0%,#ff8900 50%,#ed7e00 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feccb1 0%,#ff8900 50%,#ed7e00 51%,#fb955e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feccb1 0%,#ff8900 50%,#ed7e00 51%,#fb955e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feccb1 0%,#ff8900 50%,#ed7e00 51%,#fb955e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */  
  }

  /*Hover state for top level links*/
  nav.mainnav li:hover a {
    color: black;
    background: #f3f3f3;
  }

  /*Style for dropdown links*/
  nav.mainnav li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;  
  }

  /*Hover state for dropdown links*/
  nav.mainnav li:hover ul a:hover {
    background: #ff8900;
    color: black; 
  }

  /*Hide dropdown links until they are needed*/
  nav.mainnav li ul {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  /*Make dropdown links vertical*/
  nav.mainnav li ul li {
    display: block;
    float: none;
  }

  /*Prevent text wrapping*/
  nav.mainnav li ul li a {
    width: auto;
    min-width: 150px;
    padding: 0 20px;
  }

  nav.mainnav ul ul ul{
    left: 100%;
    top: 0;
  }

  /*Display the dropdown on hover*/
  nav.mainnav ul li a:hover + .hidden, .hidden:hover {
    visibility: visible;
    opacity: 1;
  }

  /*Hide checkbox*/
  nav.mainnav .hiddencheckbox{
      display: none;
  }

  nav.mainnav .show-menu {
      display: none;
  }
}

/*Responsive Styles*/

@media only screen and (max-width : 760px), only screen and (max-device-width : 760px)){

  .mainnav{
    height: 60px;
    display: table;
  }

  #menu{
    width: 100%;
    display: table;
  }

  /*Strip the ul of padding and list styling*/
  nav.mainnav ul {
    list-style-type:none; /*Tho hide list points*/    
    margin:0;
    padding:0;
  }

  nav.mainnav ul ul{
    display: none;
  }

  /*Create a horizontal list with spacing*/
  nav.mainnav li {
    display:inline; /* This, and float:left to show the menu horizontally */
    float: left;
    position: relative;
  }

  /*Style 'show menu' label button and hide it by default*/
  .show-menu {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: none; 
    height: 100%;   
  }  

  /*Display the dropdown on hover*/
  /*ul li a:hover + .hidden, .hidden:hover {
    visibility: visible;
    display: block;
    opacity: 1;
  }*/

  nav.mainnav a[ng-click]{
    cursor: pointer;
  }

  /*Hide checkbox*/
  .hiddencheckbox{
      display: none;
  }

  /*Show menu when invisible checkbox is checked*/
  .hiddencheckbox + #menu{
      display: none;
  }

  /*Show menu when invisible checkbox is checked*/
  .hiddencheckbox:checked + #menu{
      display: block;
  }

  /*Make dropdown links appear inline*/
  nav.mainnav ul {
    position: static;
  }

  /*Make all menu links full width*/
  nav.mainnav ul li, li a {
    width: 100%;
    font-size: 28px;
  }

  nav.mainnav li a {
    display:block;
    min-width:188px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #ff8900;
    text-decoration: none;
  }

  .submenu{
    display: none;
  }
  /*li ul {
    visibility: hidden;
    opacity: 0;
  }*/

  /*Display 'show menu' link*/
  .show-menu {
    display:block;
    height: 60px;
    text-align: center;
  }
}

