<label for="show-menu" class="show-menu">Mostrar menú</label>
<input class="hiddencheckbox" type="checkbox" id="show-menu" role="button">
<ul id="menu">	
	<li class="firstrootmenuelement"><a href="#!/">Inicio</a></li>
	<li class="rootmenuelement has-sub">		
		<a href="" ng-click="onMenuClick($event)">Artículos</a>
		<ul class="submenu hidden">
			<li><a href="#!/articles/bycategory/web/page/1">Desarrollo web</a></li>
			<li><a href="#!/articles/bycategory/android/page/1">Android</a></li>
			<li><a href="#!/articles/bycategory/gamedev/page/1">Videojuegos</a></li>	
			<li><a href="#!/articles/bycategory/misc/page/1">Miscelánea</a></li>															
		</ul>
	</li>
	
	<li class="rootmenuelement has-sub">		
		<a href="" ng-click="onMenuClick($event)">Info</a>
		<ul class="submenu hidden">
			<li><a href="http://projectclean.asuscomm.com/#!/articles/5677cf86b1a5433b02524747">Sobre mi</a></li>
			<li><a href="http://projectclean.asuscomm.com/#!/articles/5681343fc8a88f5957e1484d">Currículum</a></li>											
		</ul>
	</li>
	<li class="rootmenuelement"><a href="http://projectclean.asuscomm.com/#!/articles/5677d608b1a5433b02524748">Contacto</a></li>
</ul>
