<label for="show-menu" class="show-menu">Show Menu</label>
<input type="checkbox" id="show-menu" role="button">
<ul id="menu">
	<li class="firstrootmenuelement"><a href="#">Inicio</a></li>
	<li class="rootmenuelement">
		<a href="#">Artículos ￬</a>
		<ul class="submenu hidden">
			<li><a href="#">Desarrollo web</a></li>
			<li><a href="#">Android</a></li>
			<li><a href="#">Videojuegos</a></li>								
		</ul>
	</li>
	<li class="rootmenuelement"><a href="#">Portfolio</a></li>
	<li class="rootmenuelement"><a href="#">Sobre el autor</a></li>
	<li class="rootmenuelement"><a href="#">CV</a></li>
</ul>
