<!-- The edit article view -->
<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<h1>Edit Article</h1>
	<!-- The edited article form -->
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="title">Title</label>
			<div>
				<input type="text" data-ng-model="article.title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div>
			<label for="category">Category</label>
			<div>				
				<input type="text" data-ng-model="article.category" id="category" placeholder="Category" required>
			</div>
		</div>
		<div>
			<label for="tags">Tag</label>
			<div>
				<input type="text" data-ng-model="article.tags" id="tags" placeholder="Tags" required>
			</div>
		</div>
		<div>
			<label for="summary">Content</label>
			<div>
				<textarea data-ng-model="article.summary" id="summary" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>
		<div>
			<label for="content">Content</label>
			<div ng-controller="TinyMCEConfigController">
				<textarea ui-tinymce="tinymceOptions" data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>
		<div>
			<input type="submit" value="Update">
		</div>
		<!-- The error message element -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
	<div data-ng-repeat="comment in article.comments">        
	            <small class="comment">
	                <em>Posted on</em>
	                <em data-ng-bind="comment.date"></em>
	                <em>by</em>
	                <em data-ng-bind="comment.author"></em>
	            </small>
	            <p class="comment" data-ng-bind="comment.content"></p>
	            <form data-ng-submit="approveComment()" novalidate>
	            	<input class="approvecommentcheckbox" data-ng-model="comment.approved" id="approved" type="checkbox" value="Approve comment">Approved comment</input>
	            	<input type="submit" value="Save"/>
	        	</form>
	        	<form data-ng-submit="deleteComment(comment._id)" novalidate>
	        		<input type="submit" value="Delete comment"/>
	        	</form>
        	</div>    
	</div>
</section>