<!-- The article view -->
<section data-ng-controller="ArticlesController as ac" data-ng-init="findOne()">
   <header class="article-header-single-page">
            <div class="categoryimg">
                <img ng-src="{{getCategoryImage(article.category)}}"/>
            </div>
            <a class="articletitle" data-ng-href="#!/articles/{{article._id}}" data-ng-bind="article.title"></a>
            <div class="article-metadata-single-page">
                <small data-ng-bind="article.created | date:'medium'"></small>
                <small data-ng-bind="article.creator.fullName"></small>
            </div>
        </header>
    <p class="articlecontent" ng-bind-html="article.content"></p>
    <p class="comment-count" ng-if="commentsCount > 0">Hay un total de {{commentsCount}} comentarios.</p>
    <div data-ng-repeat="comment in article.comments">              
        <small class="comment">
            <em>Posted on</em>
            <em data-ng-bind="comment.date | date:'medium'"></em>
            <em>by</em>
            <em data-ng-bind="comment.author"></em>
        </small>
        <p ng-if="!comment.approved" class="comment">Comentario aguardando moderación</p>  
        <p ng-if="comment.approved" class="comment" data-ng-bind="comment.content"></p>        
    </div>
    <form name="submitCommentForm" data-ng-submit="createComment()" novalidate>
        <div>
            <!--<label for="author">Autor:</label>-->
            <div>
                <input class="comment-author-textbox" type="text" data-ng-model="author" id="author" placeholder="Escribe tu nombre" required>
            </div>
        </div>       
        <div>
            <!--<label for="content">Comentario:</label>-->
            <div>
                <textarea class="comment-content-textarea" data-ng-model="content" id="content" cols="30" rows="10" placeholder="Escribe aquí tu comentario"></textarea>
            </div>
        </div>
        <div class="single-page-comment-recaptcha" vc-recaptcha data-theme="dark" key="ac.publicKey"></div>
        <div>
            <input type="submit">
        </div>
        <!-- The error message element -->
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>
