<!DOCTYPE html>
<!--*****************************************
	Developed by Carlos Albaladejo Pérez, 2015.	
********************************************* -->
<html xmlns:ng="http://angularjs.org">
<head>	
	<title><%= title %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS STYLESHEETS -->
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'> <!--UBUNTU FONT! from Google Fonts-->
	<link rel="stylesheet" type="text/css" href="/css/main_style.css">
	<link rel="stylesheet" type="text/css" href="/css/menu_style.css">
	<link rel="stylesheet" type="text/css" href="/prism/prism.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/obsidian.min.css">
	<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>	
</head>
<body>	
	<!-- LIBRARIES LOADING -->
	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="/lib/tinymce-dist/tinymce.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-tinymce/src/tinymce.js"></script>
	<script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.js"></script>
	<script type="text/javascript" src="/lib/angular-recaptcha/release/angular-recaptcha.min.js"></script>
	
	<!-- Load the articles module -->
	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
	<script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
	<script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
	<script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>
	<script type="text/javascript" src="/articles/directives/articles.client.directive.js"></script>

	<!--<script type="text/javascript" src="/prism/prism.js"></script>
	<script type="text/javascript" src="/prism/prism.directive.client.js"></script>-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
	<script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>

	<!-- Load the menu module -->
	<script type="text/javascript" src="/menu/menu.client.module.js"></script>
	<script type="text/javascript" src="/menu/controllers/menu.client.controller.js"></script>
	<script type="text/javascript" src="/menu/services/menu.client.services.js"></script>
	<!--<script type="text/javascript" src="/menu/config/menu.client.routes.js"></script>-->

	<script type="text/javascript" src="/maincontent/maincontent.client.module.js"></script>

	<!-- Load TinyMCE configuration -->
	<script type="text/javascript" src="/tinymce/tinymce.client.controller.js"></script>

	

	<!-- Load the users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>

	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>	

	<!-- Render the user object -->
	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>	

	<!-- ************************************************************************************************* -->	
	<!-- 										DOCUMENT HIERARCHY 										   -->	
	<!-- ************************************************************************************************* -->	
	<header class="mainheader" ng-controller="SearchController">
		
	</header>
	
	<!-- I load a different html view if the admin is logged in or not. -->	
	<nav class="mainnav" ng-controller="MenuController" ng-include="getMenuInclude()"></nav>

	<div class="parentcontainer">
		<section class="maincontent" ng-view></section>
		<!--<section class="maincontent" ng-controller="MainContentController" ng-include="getMainContentInclude()"></section>-->
		<!--<aside class="sidebar">
			<form data-ng-submit="searchArticles()" novalidate>			
				<input type="text" data-ng-model="searchCriteria" id="searchCriteria" value="search"/>
				<input type="submit"/>
			</form>
		</aside>-->
	</div>

	<footer class="mainfooter">
		<div class="left-footer-side">
			<ul class="footer-list">
				<li>Contenidos:</li>
				<li><a href="">Android</a></li>
				<li><a href="">Gamedev</a></li>
				<li><a href="">Desarrollo web</a></li>
				<li><a href="">Miscelánea</a></li>
			</ul>
		</div>
		<div class="right-footer-side">
			<a class="twitterfooter" href="http://twitter.com/karlozalb"><img ng-src="/img/twitterFooter.png"></a>
		</div>
		<div class="bottom-footer-side">
			<p>Página creada usando un stack MEAN por Carlos Albaladejo Pérez. Más info <a href="">aquí</a>.</p>
		</div>
	</footer>	
</body>
</html>